@charset "utf-8";




/* Main Styles */

html {
  background-image: url(rain-drops.jpg); /*Image from pixabay.com */
  background-attachment: scroll;
  background-repeat: stretch;
  height: 100%
}

body {
  background-color: white;
  margin: 0px auto;
  width: 90%;
  max-width: 1050px;
  min-width: 800px;
  height: 100%;
  box-shadow: 20px 10px 60px black, -20px -10px 60px black;
  font-family: "Lucida Console", Monaco, monospace;
}

footer {
  color: rgb(204, 0, 0);
  background: linear-gradient(to right, rgb(0, 143, 179), rgb(0, 184, 230), rgb(26, 209, 255));
  text-align: center;
}

h1 {
  background-color: rgb(0, 153, 204);
  color: white;
  padding-bottom: 3%;
  padding-top: 3%;
  text-align: center;
  font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
  font-size: 3em;
}

p {
  text-align: center;
  justify-content: center;
}
/* Link Styles */

nav ul li a {
  text-decoration: none;
  padding: 0;
  color: rgb(204, 122, 0);
}

nav ul li {
  list-style-type: none;
}

nav {
  display: inline-block;
  width: 50%;
}

a#contacts {
  text-decoration: none;
  color: rgb(204, 0, 0);
}

a#contacts:hover {
  text-decoration: none;
  color: rgb(255, 179, 179);
}

/* Picture Styles */

img#profile {
  width: 200px;
  display: block;
  position: relative;
  margin-left: 100%;
  margin-right: auto;
}

img#award {
  width: 350%;
  padding-top: 100%;
  padding-bottom: 10%;
  padding-right: 12%;
  padding-left: 1%;
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* Grid Styles- code created with Layoutit.com and modified by Lane Doyle */
.grid-container {
  height: 70%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2.2%;
  padding-top: 2%;
}

.grid-container * {
 position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 0.1fr 2fr 1.1fr;
  grid-template-rows: 5fr 0.2fr 0.1fr;
  grid-template-areas: "body body main section" "body body main section" ". . . .";
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-area: body;
  background-color: white;
  border: 1px ridge black;
}

.main {
  display: grid;
  grid-template-columns: 1.8fr 0.1fr 1.1fr;
  grid-template-rows: 0.7fr 1.3fr;
  grid-area: main;
  background-color: white;
  border: 1px ridge black;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-area: section;
  background-color: white;
  border: 1px ridge black;
}
