@charset "utf-8";

/* Main Styles */
html {
  background-image: url(../rain-drops.jpg); /*Image from pixabay.com */
  background-attachment: scroll;
  background-size: auto;
  height: 100%;
}

body {
  background: linear-gradient(to right, rgb(0, 115, 153) 30%, rgb(0, 172, 230));
  box-shadow: rgb(51, 51, 51) 10px 0px 40px,  rgb(51, 51, 51) -10px 0px 40px;
  height: 100%;
  margin: 0px auto;
  min-width: 320px;
  max-width: 1200px;
  width: 100%;
  font-family: "Lucida Console", Monaco, monospace;
}

footer {
  color: rgb(204, 0, 0);
  text-align: center;
  clear: both;
}

h1 {
  background-color: rgb(0, 153, 204);
  color: white;
  padding-bottom: 3%;
  padding-top: 3%;
  text-align: center;
  font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
  font-size: 3em;
}

a#navicon {
  display: none;
}

header, footer {
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
}

a#navicon {
   display: none;
}

header {
   background-color: rgb(218, 210, 218);
   border-bottom: 1px solid rgb(0, 107, 179);
   border-top: 1px solid rgb(0, 107, 179);
   color: white;
   padding-bottom: 0px;
}

footer {
   color: white;
   font-size: 1em;
   font-style: normal;
   height: 30px;
   line-height: 30px;
   text-align: center;
   vertical-align: bottom;
   margin-top: 10%;
}

/* Link Styles */

header nav ul {
  background-color: rgb(153, 214, 255);
  word-spacing: 40px;
}

header nav ul li {
   background-color: rgb(153, 214, 255);
   font-size: 0.8em;
   padding-left: 10px;
   display: inline-block;
}

header nav ul li a {
   color: rgb(0, 61, 102);
   width: 100%;
   line-height: 30px;
}

header nav ul li a:hover {
   color: white;
   background-color: rgb(0, 61, 102);
   opacity: 0.7;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: rgb(0, 61, 102);
}

a#contact {
  text-decoration: none;
  color: blue;
}

a#contact:hover {
  color: rgb(67, 67, 123);
}

img#facebook {
  width: 3%;
}

img#twitter {
  width: 3%;
}

section {
  text-align: center;
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-top: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
}

section nav ul li a {
  text-decoration: none;
  color: blue;
}

section nav ul li a:hover {
  color: rgb(235, 153, 255);
}

h2 {
  padding-top: 5px;
}



/* ===============================
	Mobile Devices: 0 to 480px
   ===============================
*/

@media only screen and (max-width: 480px) {

  html, body {
    height: 125%;
  }

  h1 {
    font-size: 1.2em;
  }

  a#navicon {
    display: block;
  }

  header nav ul {
    display: none;
    word-spacing: 2px;
    line-height: 1.2em;
    padding: 0px;
  }

  a#navicon:hover+ul, header nav ul:hover {
    display: block;

  }

  footer {
    margin: 0px;
  }

  section {
    word-wrap: break-word;
  }


}
